body {
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  background: #00b4db;
  background: -webkit-linear-gradient(45deg, #05a8de, #2ced39);
  background: linear-gradient(45deg, #05a8de, #2ced39);
}

h1 {
  font-size: 2.6rem;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

h2 {
  margin-bottom: 2%;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}
a {
  text-decoration: none;
  color: #094979;
}

a:hover {
  text-shadow: 2px 2px 7px #02233b;
}

input {
  font-size: 2rem;
  margin-top: 2%;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  outline: none;
}

#historyLog {
  position: absolute;
  top: 50%;
  background: black;
  border-radius: 5px;
  padding: 2%;
  font-size: 2em;
  width: fit-content;
  height: 20%;
  overflow-y: scroll;
}

#historyButtons {
  display: flex;
  width: 27%;
  justify-content: space-between;
}

#historyButtons > button {
  margin-top: 3%;
  font-size: 1.4rem;
  width: auto;
  padding: 2% 3%;
  border-radius: 10px;
  border-width: 2.5px;
  animation-name: border-color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#check-button {
  margin-top: 2%;
  font-size: 1.5rem;
  border-radius: 5px;
  width: auto;
  padding: 0.5% 2%;
  border-radius: 10px;
  border-width: 2.5px;
  animation-name: border-color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#result {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

@keyframes border-color {
  0% {
    border-color: #05a8de;
  }
  20% {
    border-color: #4fbce0;
  }
  50% {
    border-color: #7cc8e1;
  }
  80% {
    border-color: #3be992;
  }
  100% {
    border-color: rgb(13, 206, 13);
  }
}

p {
  font-size: 2rem;
  color: white;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  #historyButtons {
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-size: 1.5rem;
  }

  #historyButtons > button {
    margin-top: 3%;
    font-size: 1.3rem;
    width: auto;
    padding: 2% 3%;
    border-radius: 10px;
    border-width: 2.5px;
    animation-name: border-color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #historyLog {
    font-size: 1.2em;
  }

  input {
    font-size: 2rem;
    margin-top: 10%;
    width: 90%;
    text-align: center;
  }

  #check-button {
    margin-top: 10%;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 50%;
    padding: 2% 3%;
  }
}
